* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
    font-size: 30px;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
}

.navbar {
    gap: 40%;
    display: flex;
    background-color: #333;
    justify-content: space-around;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    margin: 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #575757;
}

.main-content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.inline-block-section,
.inline-flex-section {
    width: 300px;
    height: 200px;
    margin: 10px;
    position: relative;
    background-size: cover;
    background-position: center;
}

.inline-block-section {
    background-image: url('https://t3.ftcdn.net/jpg/02/90/89/76/360_F_290897614_7RdAsk2GmumcGWZ2qklmV74hKlNmznSx.jpg'); /* Change to your desired image */
    display: inline-block;
}

.inline-flex-section {
    background-image: url('https://t3.ftcdn.net/jpg/02/90/89/76/360_F_290897614_7RdAsk2GmumcGWZ2qklmV74hKlNmznSx.jpg');
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.text-over-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px;
}

.footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
}
